* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #035e5b;
    color: #abd1c6;
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.game-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

canvas {
    border: 5px solid #f9bc60;
    background-color: #004643;
}

.info-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 150px;
    padding: 10px;
    background-color: #001e1d;
    border-radius: 5px;
    border: 5px solid #f9bc60;
}

h1 {
    margin-bottom: 10px;
}

.score {
    font-size: 24px;
    margin-bottom: 20px;
}

.next-piece {
    margin-top: 20px;
}

.controls {
    margin-top: 20px;
    text-align: left;
    font-size: 14px;
}

.controls p {
    margin: 5px 0;
}

#game-over {
    position: absolute;
    font-size: 70px;
    color: black;
    background-color: rgba(252, 5, 5, 0.8);
    padding: 20px;
    border-radius: 10px;
    border: 5px solid rgba(0, 0, 0, 0.989);
    display: none;
}
#controls-touch {
    display:none;
}

@media (max-width: 500px) {
    .next-piece, .controls {
        display: none;
    }

    #game-over {
        font-size: 40px;
    }

#controls-touch {
    position: absolute;
    width: 94%;
    height: 10%;
    display: grid;
    justify-items: stretch;
    grid-template-columns: 1fr 1fr;
    column-gap: 140px;
    row-gap: 60px;
    grid-template-rows: 50px 125px 50px;

    button {
        cursor: pointer;
        border-radius: 35px;
        background: rgba(103, 103, 103, 0.273);
        border: none;
    }
    button:active {
        opacity: 0.8;
    }
}
#esquerda {
    rotate: 180deg;
}
#descer {
    rotate: 90deg;
    width: 40px;
    margin-left: auto;
}

#rotacionar {
    rotate: 270deg;
    width: 40px;
}
.info-panel {
    display: flex;
    min-width: 0px;
    padding: 0px;
    border-radius: 0px;
    border: none;
    .score {
        z-index: 2;
        font-size: 15px;
        position: absolute;
        display: flex;
        margin: -16px -220px 0;
    }
    
}
}